:root {
    --primary-color: #0f8b8d;
    --bg-color: #f7f9fb;
    --text-color: #333;
    --footer-bg: #eaeaea;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 30px;
    text-align: center;
}

.subtitle {
    font-size: 1.1em;
    margin-top: 5px;
}

.button
{
    color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
}

#darkMode 
{
    background: none;
    border: none;
    padding: 0;
    font-size: 1.8rem;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

#darkMode:hover {
    transform: scale(1.3);
    opacity: 0.85;
}

#darkMode:focus {
    outline: none;
}

section {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

h2 {
    border-bottom: 2px solid var(--primary-color);;
    padding-bottom: 5px;
    color: var(--primary-color);;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

footer {
    background-color: var(--footer-bg);
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 0.9em;
}
